<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin_settings SYSTEM "../../../lib/pkp/dtd/pluginSettings.dtd">

<!--
  * plugins/generic/oas/settings.xml
  *
  * Copyright (c) 2003-2012 John Willinsky
  * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
  *
  * Default plugin settings.
  *
  -->

<plugin_settings>
	<setting type="bool">
		<name>enabled</name>
		<value>false</value>
	</setting>
	
	<!-- Privacy. -->
	<setting type="string">
		<name>privacyMessage</name>
		<value></value>
	</setting>
	
	<!-- SALT management. -->
	<setting type="string">
		<name>salt</name>
		<value></value>
	</setting>
	<setting type="int">
		<name>saltTs</name>
		<value>0</value>
	</setting>
	<setting type="string">
		<name>saltApiUsername</name>
		<value></value>
	</setting>
	<setting type="string">
		<name>saltApiPassword</name>
		<value></value>
	</setting>
	<setting type="int">
		<name>lastSaltDownloadTs</name>
		<value>0</value>
	</setting>
	
	<!-- Event ID generation -->
	<setting type="string">
		<name>uniqueSiteId</name>
		<value></value>
	</setting>
	
	<!-- Event table maintenance. -->
	<setting type="int">
		<name>lastEventTableMaintenanceTs</name>
		<value>0</value>
	</setting>
	
	<!-- OAI authentication. -->
	<setting type="string">
		<name>oaiPassword</name>
		<value></value>
	</setting>
	
	<!-- OA-S statistics server access. -->
	<setting type="string">
		<name>oasServerUrl</name>
		<value></value>
	</setting>
	<setting type="string">
		<name>oasServerUsername</name>
		<value></value>
	</setting>
	<setting type="string">
		<name>oasServerPassword</name>
		<value></value>
	</setting>
	<setting type="string">
		<name>oasServerLastDownloadedFile</name>
		<value></value>
	</setting>
</plugin_settings>

